@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-moderno: 'MuseoModerno', sans-serif;
    --font-mono-atkinson: 'Atkinson Hyperlegible Mono', monospace;
}
